.enrollment-key{
  text-align: center;
  display: block;
  padding: 5px;
}

.filled{
  width: 100px;
  display: inline-block;
  text-align: center;
  margin: 10px;
  padding: 3px;
  color: white;
  background-color: #05BACB;
}

.open{
  width: 100px;
  display: inline-block;
  text-align: center;
  margin: 10px;
  padding: 3px;
  color: white;
  background-color: darkGrey;
}

.enrollment-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.enrollment-cohort-container{
  border: solid lightGrey 1px;
  padding: 10px;
  margin: 10px;
  box-shadow: 0px 10px 10px -5px #777;
}

.cohort-container-header{
  display: block;
  text-align: center;
  font-size: 25px;
  font-weight: bolder;
}

.pie-chart{
  margin: 10px;
  display: inline-block;
  width: 250px;
}

.pie-title{
  display: block;
  text-align: center;
}

.pie-date{
  display: block;
  text-align: center;
}

.pie-label{
  border: 2px solid black;
}
