@import './Reset.css';
@import './Layout.css';
@import './App.css';
@import './Header.css';
@import './Nav.css';
@import './Landing.css';
@import './Enrollment.css';
@import './Mobile.css';

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
