.Navigation{
  position: fixed;
  width: 175px;
  height: 100vh;
  background: #FF93AB -webkit-gradient(linear, left top, left bottom, from(#056bcb), to(#05cb8d)) no-repeat;
}

main{
  margin-left: 175px;
  height: 100vh;
  width: auto;
  position: relative;
  overflow: auto;
  z-index: 1;
}
